fastapi==0.100.0
hypercorn==0.14.4
pandas
filelock
google-generativeai
torch
beautifulsoup4
google-genai
numpy>=1.20
pydantic>=1.8
transformers
pinecone
redis==5.0.1 
PyMuPDF==1.24.1
pypdfium2==4.28.0
python-docx==1.1.2 
openpyxl==3.1.2 
Pillow
python-multipart
python-docx